@page
@model SportsStore.Pages.IndexModel
@{
	ViewBag.Title = "Home";
}

<h1>Welcome to SportsStore</h1>
<h2>Products</h2>

@foreach (var p in Model.Products)
{
	<div class="card border-primary m-1 p-1">
		<div class="bg-opacity-50 p-1">
			<h3>
				@p.Name
				<span class="badge rounded-pill bg-primary text-white float-end">
					<small>@p.Price.ToString("c")</small>
				</span>
			</h3>
		</div>
		<form id="@p.ProductId" asp-page="Cart" method="post">
			<input type="hidden" name="returnUrl" value="@Request.PathAndQuery()" />
			<input type="hidden" name="productId" value="@p.ProductId" />
			<span class="p-1">
				@p.Description
				<button class="btn btn-success btn-sm float-end" type="submit">
					Add to Cart
				</button>
			</span>
		</form>
	</div>
}
